<mat-toolbar color="primary">Angular material</mat-toolbar>
<main>
    <mat-card>
        <form action="">
            <img src="../assets/img/csm.png" width="200" alt="chainsaw">
            <mat-form-field>
                <input matInput placeholder="Title" #title>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-select placeholder="Album Id" #albumId>
                    <mat-option *ngFor="let id of albumsId" value="id">{{id}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Url" #url>
            </mat-form-field>
            <button mat-raised-button color="primary" style="display: block; width: 100%;">Click!</button>
        </form>
    </mat-card>
</main>

<app-photos></app-photos>
