main{ 
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

mat-card, app-photos {
    margin: auto;
    width: 450px;
    display: block;
    margin-top: 2rem;
}

mat-form-field, input {
    width: 100%;
}